<tr class="row">
    <td class="col-1">
        <img src="{{ asset('uploads/avatars/' ~ friend.avatar) }}" class="mw-100 avatar">
    </td>
    <td class="col d-flex align-items-center justify-content-start pl-3">
        {{ friend.name }}
        <span class="text-muted ml-3">({{ friend.username }})</span>
    </td>
    <td class="col-1 d-flex align-items-center justify-content-center">
        <a
                href="{{ path('delete_friendship', {friendId: friend.id}) }}"
                onclick="return confirm('You want to delete this friendship?')"
                class="btn btn-outline-danger"><i class="fas fa-ban"></i></a>
    </td>
</tr>