<tr class="row">
    <td class="col-1">
        {#<img src="{{ friend.usrAvatar }}" class="mw-100 avatar">#}
    </td>
    <td class="col text-justify">
        {{ friend.name }}
    </td>
    <td class="col-2 text-right">
        <button class="btn btn-danger" data-id="{{ friend.id }}">Delete friend</button>
    </td>
</tr>