<tr class="row">
    <td class="col d-flex align-items-center justify-content-start pl-3">
        {{ request.sender.username }}
    </td>
    <td class="col-1 text-right">
        <button class="btn btn-success" data-id="{{ request.id }}">Accept</button>
    </td>
    <td class="col-1 text-right">
        <button class="btn btn-danger" data-id="{{ request.id }}">Decline</button>
    </td>
</tr>