<div class="modal fade" id="new-frn-form">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h5">New friend request</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(newFriendForm) }}
                    {{ form_row(newFriendForm.receiver) }}
                {{ form_end(newFriendForm) }}
            </div>
        </div>
    </div>
</div>