<tr class="row">
    <td class="col d-flex justify-content-start align-items-center pl-3">
        {{ user.username }}
    </td>
    <td class="col-2">
        <a href="{{ path('member_delete', {'groupId': group.id, 'userId': user.id}) }}"
           onclick="return confirm('Remove {{ user.username }} from group {{ group.name }}?')"
           class="btn btn-danger">Delete member</a>
    </td>
</tr>