<tr class="row">
    <td class="col d-flex justify-content-start align-items-center pl-3">
        {{ user.username }}
    </td>
    <td class="col-2">
        <button class="btn btn-danger">Delete member</button>
    </td>
</tr>