{% extends 'base.html.twig' %}

{% block title %}Groups - {% endblock %}

{% block body %}
    <h1 class="h3 p-3">Groups</h1>
        {% if groups.count != 0 %}
            <button class="btn btn-info float-right mb-3" data-toggle="modal" data-target="#new-grp-form">Create a group</button>
            <table class="table table-sm table-hover">
                {% for group in groups %}
                    {{ include('groups/_groupRow.html.twig', {group: group}) }}
                {% endfor %}
            </table>
        {% else %}
            <p>You haven't created any groups yet</p>
            <button class="btn btn-info" data-toggle="modal" data-target="#new-grp-form">Create a group</button>
        {% endif %}

    {{ include('_formModal.html.twig', {
        formId: 'new-grp-form',
        formTitle: 'New group',
        form: newGroupForm
    }) }}
{% endblock %}