{% extends 'base.html.twig' %}

{% block title %}{{ group.name }} - {% endblock %}

{% block body %}
    <h1 class="h3 p-3">{{ group.name }}</h1>

    {% if group.user.count == 0 %}
        <p>The group has no members</p>
        <button class="btn btn-info" data-toggle="modal" data-target="#new-member-form">Add a member</button>
    {% else %}
        <button class="btn btn-info float-right mb-3" data-toggle="modal" data-target="#new-member-form"><i class="fas fa-user-plus"></i></button>
        <table class="table table-sm table-hover">
            {% for user in group.user %}
                {{ include('groups/_memberRow.html.twig', {user: user}) }}
            {% endfor %}
        </table>
    {% endif %}

    {{ include('_formModal.html.twig', {
        formId: 'new-member-form',
        formTitle: 'Add members',
        form: newMemberForm
    }) }}
{% endblock %}