<div class="modal fade" id="new-message-form">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(newMessageForm) }}
                    {{ form_row(newMessageForm.forEmail) }}
                {{ form_end(newMessageForm) }}
            </div>
        </div>
    </div>
</div>