{% extends 'base.html.twig' %}

{% block body %}
    <h1>Courier 2</h1>
    <a href="{{ path('sign_in') }}" class="btn btn-secondary" id="home-sign-in">Sign in</a>
    <a href="" class="btn btn-secondary" id="home-register">Register</a>
{% endblock %}